<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photo Gallery</title>
</head>
<body>
    <img src="/images/freddie1.jpg" alt="freddie1img">
    <img src="/images/freddie2.jpg" alt="freddie2img">
    <img src="/images/freddie3.jpg" alt="freddie3img">
    <img src="/images/freddie4.jpg" alt="freddie4img">



    <a href="home">Main page</a>
    <a href="about">About Freddie</a> 
    <a href="works">Works</a>
</body>
</html>