<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Freddie's Work</h1>
    
    <p>Barcelona: The Rock Opera (Ukrainian State Symphony Orchestra; Mario Singers/Taras Krysa; Salvo Bruno; Karin ten Cate; Mario Previti) 2005</p>
    <p>Barcelona 1998</p>
    <p>Living on My Own [remixes] 1993</p>
    <p>Remixes 1993</p>
    <p>Barcelona 1987</p>
    <p>Living on My Own / My Love Is Dangerous 1985</p>
    <p>I Was Born to Love You / Stop All the Fighting 1985</p>
    <p>Mr. Bad Guy 1985</p>
    <p>I Can Hear Music / Goin' Back 1973</p>

    <a href="home">Main page</a>
    <a href="about">About Freddie</a>    
    <a href="photoGallery">Photo Gallery</a>
</body>
</html>